@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/flatly-theme/variables";

.section-tout {
  background: $gray-lighter;
  padding: 4em 0 4em;
  margin-top:-$navbar-margin-bottom;
  margin-bottom:$navbar-margin-bottom;
}

.form-buttons {
  padding: 1em;
  background: $gray-lighter;
}

.worked-time .buttons {
  margin-top:5px;
  padding-top:5px;
  border-top: 1px solid $list-group-border;
}

.user-list .list-group-item p {
  margin: 0px;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.content {
  padding-bottom: 120px;
}

footer {
  background: $gray-lighter;
  width: 100%;
  height: 100px;
  padding-top: 20px;
  bottom: 0;
  position: absolute;
  left: 0;

  .app {
    font-weight: bold;
  }
}